#logo {
    position: absolute;
    left: 50px;
    top: 20px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-mid);
}

#user {
    position: absolute;
    right: 50px;
    top: 20px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

#user > a > svg {
    fill: var(--white-mid);
    transform: scale(0.7); 
}

#user > a > svg:hover {
    cursor: pointer;
    fill: var(--color-mid);
}

#search {
    position: absolute;
    right: 120px;
    top: 20px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

#search > a > svg {
    fill: var(--white-mid);
    transform: scale(0.7); 
}

#search > a > svg:hover {
    cursor: pointer;
    fill: var(--color-mid);
}