{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.cd_acao_rdz }} | {{ company.nm_empresa }}</title>

    <!-- <link rel="stylesheet" href="{% static 'b3ack/search.css' %}"> -->
</head>
<body>

</body>
    <h1>{{ company.nm_empresa }}</h1>
    {% if user.is_authenticated %}
        {% if data %}
            <div id="chart">
                <canvas id="myChart" width="800" height="200"></canvas>
                {{ data|json_script:"data" }}
            </div>

        {% else %}
            <form action="{% url 'watchlist' %}" data-companycode="{{ company.cd_acao_rdz }}" id="track-company">
                Monitorar a cada <input type="number" min="0" name="check-interval" id="check-interval" required> minutos.
                <input type="submit" value="Monitorar ativo">
            </form>
            <!-- <button id="track-company" data-companycode="{{ company.cd_acao_rdz }}">Monitorar ativo</button> -->
        {% endif %}

    {% else %}
        <a href="/login">Faça login</a> para monitorar a ação e visualizar seus dados monitorados.
    {% endif %}

    <div>
        <h2>Informações sobre a empresa</h2>
        {{ company }}
    </div>

    <div>
        <h2>Cotações da empresa</h2>
        {{ quotes }}
    </div>
</html>

<!-- JavaScript -->
<script src="{% static 'b3ack/company.js' %}"></script>
<!-- Don't change order! -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'b3ack/chart.js' %}"></script>