{% extends "b3ack/layout.html" %}

{% load static %}

{% load static %}

{% block title %}B3ack | Acompanhe cotações{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'b3ack/index.css' %}">{% endblock %}

{% block body %}
<h3>Acompanhar cotações nunca foi tão simples!</h3>
<div id="about">
    A B3ack é uma plataforma onde você pode acompanhar a cotação atual de ativos
    da B3 de forma <span class="highlight-text">simples e direta</span>.
    <ul>
        <li>
            <a href="search">Pesquise por ativos</a>, veja suas informações, e escolha aqueles que te interessarem
            mais para acompanhar.
        </li>
        <br>
        <li>
            Escolhar um intervalo para salvar os valores do ativo. Estas informações podem
            ser visualizadas em gráficos.
        </li>
        <br>
        <li>
            Cansado de olhar a toda hora o preço do ativo para saber quando vender ou comprar?
            Agora não é mais necessário: determine um valor mínmo para compra e máximo para
            venda e deixe o resto com a gente: te avisaremos quando eles forem atingidos!
        </li>
    </ul>

{% if not user.is_authenticated %}
    <div id="get-started">
        Pronto para começara investir? <a href="login">Faça login</a> ou <a href="register">crie sua conta.</a> 
    </div>
{% endif %}
</div>
{% endblock %}

{% block script %}
<!-- JavaScript -->
<script src="{% static 'b3ack/company.js' %}"></script>
{% endblock %}