{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'b3ack/login.css' %}">
</head>
<body>
    <a href="/" id="logo-href"><p id="logo">B3ack</p></a>
    {% if message %}
        <p id="message">{{ message }}</p>
    {% endif %}

    <div id="login">
        <p id="login-text">Login</p>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Nome de usuário">
            <input type="password" name="password" id="password" placeholder="Senha">
            <input type="submit" value="Login" id="login-submit">
        </form>
        <p id="register">Ainda não tem uma conta? Crie uma <a href="{% url 'register' %}">aqui</a>.</p>
    </div>
    <div id="circle1"></div>
    <div id="circle2"></div>
    <div id="circle3"></div>
</body>
</html>