{% extends "b3ack/layout.html" %}

{% load static %}

{% load static %}

{% block title %}Buscar Quotações{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'b3ack/search.css' %}">{% endblock %}


{% block body %}
<h2>Buscar quotações</h2>
<p>Clique em uma empresa para mais informações</p>

<input type="text" id="input" onkeyup="searchFilter()" placeholder="Pesquise por uma empresa...">

<table id="table">
    <tr class="header">
        <th style="width:60%;">CÓDIGO</th>
        <th style="width:40%;">EMPRESA</th>
    </tr>

    {% for company in data %}
        <tr onclick="window.location = '{% url 'company' company.cd_acao_rdz %}'">
            <td>{{ company.cd_acao_rdz }}</td>
            <td>{{ company.nm_empresa }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
<!-- JavaScript -->
<script src="{% static 'b3ack/search.js' %}"></script>
{% endblock %}